body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    margin-top: 10px;
    display: block;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 25px 20px;
    background-color: #c810d5;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #f312ef;
}

#passwordOutput {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}
